#root {
  max-width: 100%;
  margin: 0 auto;
   padding: 0.5rem;
  /* text-align: center; */
  
  
    background-image: url('eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navbar-brand {
  color: black !important;
}
.banner {
  background-color: transparent;
}

.banner .container h1, .banner .container p {
  color: black;
}

